<launch>
  <arg name="robot_type" default="a1"/>
  <arg name="is_low_level" default="1"/>
  <arg name="udp_connection" default="1"/>
  <arg name="torque_safe_limit" default="0"/>
  <arg name="power_limit" default="4"/>

  <node pkg="3d_navigation" type="global_planner_node" name="global_planner"> </node>

</launch> 
